*{
    margin: 0;
}
header{
    margin-left: 15%;
    margin-right: 12%;
    margin-bottom: 9%;
   
}
.hero{
    background: #1F2937;
    height: 500px;
    
}
.logo img{
    width: 100px;
    vertical-align: bottom; 
}
.nav-container{
    display: flex;
}
.nav-left {
    flex: 1;
    text-align: right;
    padding: 25px;
}
.nav-left a{
    padding: 10px;
    color: white;
    text-decoration: none;    
 
}
.hero-content{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    gap : 10px;
}
.hero-content div{
    flex : 1;
   
}
.right {
    background: url(rengoku.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.awesome{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.sub{
    font-size: 18px;
    color: #E5E7EB;
}
.sign-up{
    display: inline-block;
    background-color: #3882f6;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
/* Start of random */

.random-title{
    padding: 30px;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #1F2937;
    
}
.random{
    margin-left: 15%;
    margin-right: 15%;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}

.random div{
    width: 180px;
    height: 180px;
    border: 5px solid blue;
    border-radius: 10%;
     

}